    /* Estilo do cabeçalho do formulário */
  .login-container h2[b-aehvk5imyc] {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #333;
  }
  form label[b-aehvk5imyc] {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}
  /* Estilo para os campos de entrada */
  .login-container input[type="text"][b-aehvk5imyc],
  .login-container input[type="password"][b-aehvk5imyc] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /* Estilo do botão de login */
  .login-container button[b-aehvk5imyc] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-container button:hover[b-aehvk5imyc] {
    background-color: #0056b3;
  }
  
  /* Estilo do link de registro */
  .login-container a[b-aehvk5imyc] {
    display: block;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
  }
  
  .login-container a:hover[b-aehvk5imyc] {
    text-decoration: underline;
  }
  /* Estilo para a barra de navegação */
  .navbar[b-aehvk5imyc] {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    text-align: left;
  }
  
  /* Estilo para os links da navbar */
  .navbar a[b-aehvk5imyc] {
    text-decoration: none;
    color: #333;
    padding: 8px 16px;
    font-weight: bold;
  }
  
  .navbar a:hover[b-aehvk5imyc] {
    color: #007bff;
  }
  
  /* Adicionando espaço no corpo da página para não sobrepor o navbar */
  body[b-aehvk5imyc] {
    padding-top: 60px; /* Ajuste conforme a altura da barra de navegação */
  }
  