.register-container h2[b-qxanphzyqu] {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

.register-container label[b-qxanphzyqu] {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #333;
}


.register-container button[b-qxanphzyqu] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.register-container button:hover[b-qxanphzyqu] {
    background-color: #0056b3;
}

.register-container a[b-qxanphzyqu] {
    display: block;
    margin-top: 1em;
    color: #007bff;
    text-decoration: none;
}

.register-container a:hover[b-qxanphzyqu] {
    text-decoration: underline;
}