@{
    ViewData["Title"] = "";
}
<header>
    <button type="button" onclick="window.location.href='@Url.Action("Logout", "Account")'" class="btn-sair">
        Sair
    </button>
</header>
<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <h2>Locadora.</h2>
    
</div>

 